USE [master]
GO
/****** Object:  Database [BankSystemData]    Script Date: 9/4/2026 12:44:50 AM ******/
CREATE DATABASE [BankSystemData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankSystemData', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BankSystemData.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BankSystemData_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BankSystemData_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankSystemData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankSystemData]
GO
/****** Object:  Table [dbo].[ClientInformation]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInformation](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[PinCode] [int] NOT NULL,
	[Balance] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ClientInformation_1] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterLog]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterLog](
	[RegisterID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RegisterationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RegisterLog] PRIMARY KEY CLUSTERED 
(
	[RegisterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferLog]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLog](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[SenderAcc] [int] NOT NULL,
	[ReceiverAcc] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_TransferLog] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Permissions] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserInformation_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Client_view]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[Client_view] as
Select c.ClientID, c.AccountNumber, FullName = p.FirstName + ' ' + p.SecondName + ' ' + p.LastName, p.Email, p.Phone, c.Balance from ClientInformation c inner join People p ON c.PersonID = p.PersonID;
GO
/****** Object:  View [dbo].[People_view]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[People_view] as
select PersonID, FullName = FirstName + ' ' + SecondName + ' ' + LastName, Email, Phone,
		Case Gender
		when 0 then 'Male'
		else
		'Female'
		End
		as Gender,
		BirthDate
from People
GO
/****** Object:  View [dbo].[Register_view]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Register_view] as
Select r.RegisterID, u.UserID, u.UserName, u.Permissions, r.RegisterationDate from UserInformation u
inner join RegisterLog r ON u.UserID = r.UserID;
GO
/****** Object:  View [dbo].[User_view]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[User_view]
AS
SELECT        u.UserID, p.PersonID, u.UserName, p.FirstName + ' ' + p.SecondName + ' ' + p.LastName AS 'Full Name', p.Email, p.Phone, u.Permissions, u.isActive
FROM            dbo.UserInformation AS u INNER JOIN
                         dbo.People AS p ON u.PersonID = p.PersonID
GO
ALTER TABLE [dbo].[ClientInformation]  WITH CHECK ADD  CONSTRAINT [FK_ClientInformation_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[ClientInformation] CHECK CONSTRAINT [FK_ClientInformation_People]
GO
ALTER TABLE [dbo].[RegisterLog]  WITH CHECK ADD  CONSTRAINT [FK_RegisterLog_UserInformation] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInformation] ([UserID])
GO
ALTER TABLE [dbo].[RegisterLog] CHECK CONSTRAINT [FK_RegisterLog_UserInformation]
GO
ALTER TABLE [dbo].[TransferLog]  WITH CHECK ADD  CONSTRAINT [FK_TransferLog_UserInformation] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[UserInformation] ([UserID])
GO
ALTER TABLE [dbo].[TransferLog] CHECK CONSTRAINT [FK_TransferLog_UserInformation]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_People]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewClient]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewClient]
	@accNum int,
	@personId int,
	@pinCode int,
	@balance float,
	@clientId int output
As
Begin
	Set NOCOUNT ON;
	INSERT INTO ClientInformation Values (@accNum, @personId, @pinCode, @balance);
	Set @clientId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_AddNewUser]
	@personId int,
	@username nvarchar(50),
	@password nvarchar(50),
	@permission int,
	@isActive bit,
	@userId int output
As
Begin
	Set NOCOUNT ON;
	INSERT INTO UserInformation Values (@personId, @username, @password, @permission, @isActive);
	Set @userId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPerson]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddPerson]
	@fname nvarchar(50),
	@secname nvarchar(50),
	@lname nvarchar(50),
	@email nvarchar(100),
	@phone nvarchar(50),
	@gender tinyint,
	@date datetime,
	@personId int output
As
Begin
	Set NOCOUNT ON;
	Insert into People Values (@fname, @secname, @lname, @email, @phone, @gender, @date);
	Set @personId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ClientIsExists]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_ClientIsExists]
	@clientId int
As
Begin
	SELECT 1 FROM ClientInformation WHERE ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClient]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteClient]
	@clientId int
As
Begin
	if NOT Exists(select 1 from ClientInformation where ClientID = @clientId)
		Throw 50001, 'ClientId is not exist', 1;

	Delete from ClientInformation WHERE ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeletePerson]
	@personId int
As
Begin
	if Not Exists(select 1 from People where PersonID = @personId)
		Throw 50001, 'PersonID is not exists', 1;

	Delete from People Where PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_DeleteUser]
	@userId int
As
Begin
	if Not Exists(select 1 from UserInformation WHERE UserID = @userId)
		Throw 50001, 'UserID is not exists', 1;

	Delete from UserInformation WHERE UserId = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_Deposit]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_Deposit]
	@accNum int,
	@amount decimal(10, 2)
As
Begin
	Update ClientInformation
	set Balance += @amount
	where AccountNumber = @accNum
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindClientByAccNum]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindClientByAccNum]
	@accNum int
As
Begin
	SELECT * FROM ClientInformation WHERE AccountNumber = @accNum
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindClientById]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindClientById]
	@clientId int
As
Begin
	SELECT * FROM ClientInformation WHERE ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPersonById]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindPersonById]
	@personId int
As
Begin
	Select * from People Where PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserById]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserById]
	@userId int
As
Begin
	SELECT * FROM UserInformation WHERE UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsername]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUsername]
	@username nvarchar(50)
As
Begin
	SELECT * FROM UserInformation WHERE UserName = @username
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsernameAndPass]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUsernameAndPass]
	@username nvarchar(50),
	@password nvarchar(50)
As
Begin
	SELECT * FROM UserInformation WHERE UserName = @username and Password = @password
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllClients]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllClients]
As
Begin
	Select * from Client_view
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPeople]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllPeople]
As
Begin
	Select * from People_view
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRegisters]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllRegisters]
As
Begin
	SELECT * from Register_view order by RegisterID desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllUsers]
As
Begin
	select * from User_view
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientBalance]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetClientBalance]
	@accNum int,
	@balance decimal(10, 2) output
As
Begin
	If NOT EXISTS(select 1 from ClientInformation where AccountNumber = @accNum)
		Throw 50001, 'Account not found', 1;

	Select @balance = Balance FROM ClientInformation WHERE AccountNumber = @accNum;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalBalance]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_GetTotalBalance]
	@totalBalance decimal(10, 2) output
As
Begin
	Select @totalBalance= SUM(Balance) From ClientInformation
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExist]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsPersonExist]
	@personId int
As
Begin
	Select 1 from People Where PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExist]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsUserExist]
	@userId int
As
Begin
	Select 1 from UserInformation Where UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_LoginLog]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_LoginLog]
	@userId int,
	@registerId int output
as
Begin
	SET NOCOUNT ON;
	INSERT INTO RegisterLog Values (@userId, GETDATE())

	Set @registerId = SCOPE_IDENTITY()
End
GO
/****** Object:  StoredProcedure [dbo].[SP_Transfer]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_Transfer]
	@FromAccNum int,
	@ToAccNum int,
	@amount decimal(10, 2),
	@userId int,
	@transferId int output
As
Begin

	Declare @balance decimal(10, 2)

	Select @balance = Balance from ClientInformation where AccountNumber = @FromAccNum

	if @balance < @amount
		Throw 50002, 'Insufficient balance', 1;

	Begin try
		Begin Transaction
			Update ClientInformation
			set Balance -= @amount
			where AccountNumber = @FromAccNum

			Update ClientInformation
			set Balance += @amount
			where AccountNumber = @ToAccNum

			Insert into TransferLog Values(GETDATE(), @FromAccNum, @ToAccNum, @amount, @userId);
			Set @transferId = SCOPE_IDENTITY();
			Commit
	End try
	Begin Catch
		Rollback;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_TransferLog]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_TransferLog]
As
Begin
	select * from TransferLog
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClient]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateClient]
	@accNum int,
	@personId int,
	@pinCode int,
	@balance float,
	@clientId int
As
Begin
	if NOT Exists(select 1 from ClientInformation where ClientID = @clientId)
		Throw 50001, 'ClientId is not exist', 1;

	UPDATE ClientInformation
	set AccountNumber = @accNum, PersonID = @personId, PinCode = @pinCode, Balance = @balance
	WHERE ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdatePerson]
	@fname nvarchar(50),
	@secname nvarchar(50),
	@lname nvarchar(50),
	@email nvarchar(100),
	@phone nvarchar(50),
	@gender tinyint,
	@date datetime,
	@personId int
As
Begin
	if Not Exists(select 1 from People where PersonID = @personId)
		Throw 50001, 'PersonID is not exists', 1;

	Update People
	set FirstName = @fname, SecondName = @secname, LastName = @lname, Email = @email, Phone = @phone, Gender = @gender, BirthDate = @date
	Where PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_UpdateUser]
	@personId int,
	@username nvarchar(50),
	@password nvarchar(50),
	@permission int,
	@isActive bit,
	@userId int
As
Begin
	if Not Exists(select 1 from UserInformation WHERE UserID = @userId)
		Throw 50001, 'UserID is not exists', 1;

	UPDATE UserInformation 
	set PersonId = @personId, UserName = @username, Password = @password, Permissions = @permission, isActive = @isActive 
	WHERE UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_Withdrawal]    Script Date: 9/4/2026 12:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_Withdrawal]
	@accNum int,
	@amount decimal(10, 2)
As
Begin
	Declare @balance decimal(10, 2)

	Select @balance = Balance from ClientInformation where AccountNumber = @accNum

	if @balance < @amount
		Throw 50001, 'Insufficient balance', 1;

	Update ClientInformation
	set Balance -= @amount
	where AccountNumber = @accNum
End
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'User_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'User_view'
GO
USE [master]
GO
